{% extends 'base.html.twig' %}
{% block body %}
<div class="main">
    {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }} 
            </div>
    {% endfor %}
	<div class="titre-barre">
		<div class="titre">HO HO HO !</div>
		<div class="barre"></div>
	</div>

	<div class="container-services">
		<div class="image-gauche">
			<img class="image-container" src="{{ asset('images/IMAGE3.jpg') }}">
		</div>
		<div class="texte-droite">
			<div class="titre-droite">Présentation</div>
			<div class="barre"></div>
			<div class="texte-container">Nous oeuvrons dans le domaine de la protection animale, aidons les animaux en détresse, ensemble.</div>
		</div>
	</div>

	<div class="container-services-bis">
		<div class="image-gauche-bis">
			<img class="image-container-bis" src="{{ asset('images/IMAGE1.jpg') }}">
		</div>
		<div class="texte-droite-bis">
			<div class="titre-gauche">L'ADOPTION RESPONSABLE</div>
			<div class="barre"></div>
			<div class="texte-container-bis">L'adoption change autant la vie de l'animal que la vôtre, offrez leur la vie qu'ils méritent !</div>
		</div>
	</div>

    <div class="financement">
		<div class="titre-financement">DONNONS-LEUR AUTANT QU'ILS NOUS APPORTENT</div>
		<div class="icones">
		<div class="icones-gauche">
			<img src="{{ asset('images/star-solid.svg') }}">
			<img src="{{ asset('images/star-solid.svg') }}">
			<img src="{{ asset('images/star-solid.svg') }}">
		</div>
			<img src="{{ asset('images/gift-solid.svg') }}" style="width: 75px; margin-top: 55px;">
		<div class="icones-droite">
			<img src="{{ asset('images/star-solid.svg') }}">
			<img src="{{ asset('images/star-solid.svg') }}">
			<img src="{{ asset('images/star-solid.svg') }}">
		</div>
		</div>
		<div class="sous-titre">Pour toutes les fois où ils nous ont sauvé la mise et nous ont apporté tendresse, joie, réconfort.
		Parce qu'ils méritent tant, donnons-leur autant qu'ils nous apportent !</div>

		<div class="partie-dons">
			<div class="texte-dons">Total des dons récoltés :</div>
			<div class="montant-dons">{{ dons }} €</div>
		</div>

		<div class="bloc">
		<div class="container-financement">
			<img class="image-financement" src="">
			<div class="image-titre">J'adopte</div>
			<div class="barre-financement"></div>
			<div class="texte-financement">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
			<button class="boutons">ADOPTION</button>
		</div>

		<div class="container-financement-bis">
			<img class="image-financement" src="">
			<div class="image-titre">Je donne</div>
			<div class="barre-financement"></div>
			<div class="texte-financement">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
			<div class="dons">
			<div class="faireundon">
                {% if is_granted('ROLE_USER') %}
                {{ form_start(form) }}
                    {{ form_row(form.Total) }}
                    <button type="submit" class="bouton-donation">FAIRE UN DON</button>
                {{ form_end(form) }}
                {% endif %}
			</div>
				<div class="total"></div>
			</div>
		</div>

		<div class="container-financement">
			<img class="image-financement" src="">
			<div class="image-titre">Je m'équipe</div>
			<div class="barre-financement"></div>
			<div class="texte-financement">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</div>
			<button class="boutons">BOUTIQUE</button>
		</div>
		</div>
	</div>

	<div class="container-services">
		<div class="image-gauche">
			<img class="image-container" src="{{ asset('images/IMAGE4.jpg') }}">
		</div>
		<div class="texte-droite">
			<div class="titre-droite">L'ANIMALERIE EN LIGNE</div>
			<div class="barre"></div>
			<div class="texte-container">De l'alimentation aux produits de santé et d'hygiène, nous proposons les meilleures marques.</div>
		</div>
	</div>

	<div class="container-services-bis">
		<div class="image-gauche-bis">
			<img class="image-container-bis" src="{{ asset('images/IMAGE2.jpg') }}">
		</div>
		<div class="texte-droite-bis">
			<div class="titre-gauche">SOUTENIR LA CAUSE</div>
			<div class="barre"></div>
			<div class="texte-container-bis">Nous agissons sur tous les fronts, votre générosité est si essentielle aux animaux !</div>
		</div>
	</div>

	
	<div class="icones-adoption">
	<div class="icones-adoption-gauche">
		<img src="{{ asset('images/star-solid.svg') }}">
		<img src="{{ asset('images/star-solid.svg') }}">
		<img src="{{ asset('images/star-solid.svg') }}">
	</div>
	<div class="bienvenue-animaux">ILS NOUS ONT REJOINT RECEMMENT</div>
	<div class="icones-adoption-droite">
		<img src="{{ asset('images/star-solid.svg') }}">
		<img src="{{ asset('images/star-solid.svg') }}">
		<img src="{{ asset('images/star-solid.svg') }}">
	</div>
	</div>

	<div class="display">
		<div class="animaux-liste">
			<div class="carte">
			<div class="background">
				<img class="image-carte"  src="{{ asset('images/IMAGE6.jpg') }}">
					<div class="bienvenue-carte">Bienvenue à Chachalotte !</div>
					<div class="barre-carte"></div>
					<img class="sexe-f"src="{{ asset('images/venus-solid.svg') }}">
					<div class="info-carte">
						<div class="nom-carte">Race</div>
						<div class="nom-carte">Age</div>
					</div>
					<div class="presentation-carte">Présentation</div>
					<div class="barre-carte-bas"></div>
					<button class="bouton-dons" href="">EN SAVOIR PLUS</button>
			</div>
			</div>
		</div>

		<div class="animaux-liste">
			<div class="carte">
			<div class="background">
				<img class="image-carte"  src="{{ asset('images/IMAGE7.jpg') }}">
					<div class="bienvenue-carte">Bienvenue à Keyvin !</div>
					<div class="barre-carte"></div>
					<img class="sexe-m"src="{{ asset('images/mars-solid.svg') }}">
					<div class="info-carte">
						<div class="nom-carte">Race</div>
						<div class="nom-carte">Age</div>
					</div>
					<div class="presentation-carte">Présentation</div>
					<div class="barre-carte-bas"></div>
					<button class="bouton-dons" href="">EN SAVOIR PLUS</button>
			</div>
			</div>
		</div>

		<div class="animaux-liste">
			<div class="carte">
			<div class="background">
				<img class="image-carte" src="{{ asset('images/IMAGE5.jpg') }}">
					<div class="bienvenue-carte">Bienvenue à Davidou !</div>
					<div class="barre-carte"></div>
					<img class="sexe-m" src="{{ asset('images/mars-solid.svg') }}">
					<div class="info-carte">
						<div class="nom-carte">Race</div>
						<div class="nom-carte">Age</div>
					</div>
					<div class="presentation-carte">Présentation</div>
					<div class="barre-carte-bas"></div>
					<button class="bouton-dons" href="">EN SAVOIR PLUS</button>
			</div>
			</div>
		</div>	
				<div class="animaux-liste">
			<div class="carte">
			<div class="background">
				<img class="image-carte" src="{{ asset('images/IMAGE5.jpg') }}">
					<div class="bienvenue-carte">Bienvenue à Davidou !</div>
					<div class="barre-carte"></div>
					<img class="sexe-m" src="{{ asset('images/mars-solid.svg') }}">
					<div class="info-carte">
						<div class="nom-carte">Race</div>
						<div class="nom-carte">Age</div>
					</div>
					<div class="presentation-carte">Présentation</div>
					<div class="barre-carte-bas"></div>
					<button class="bouton-dons" href="">EN SAVOIR PLUS</button>
			</div>
			</div>
		</div>	
		<div class="animaux-liste">
			<div class="carte">
			<div class="background">
				<img class="image-carte" src="{{ asset('images/IMAGE5.jpg') }}">
					<div class="bienvenue-carte">Bienvenue à Davidou !</div>
					<div class="barre-carte"></div>
					<img class="sexe-m" src="{{ asset('images/mars-solid.svg') }}">
					<div class="info-carte">
						<div class="nom-carte">Race</div>
						<div class="nom-carte">Age</div>
					</div>
					<div class="presentation-carte">Présentation</div>
					<div class="barre-carte-bas"></div>
					<button class="bouton-dons" href="">EN SAVOIR PLUS</button>
			</div>
			</div>
		</div>	
	</div>

	<div class="barre-separation"></div>

	<div class="display">
		<div class="animaux-liste">
			<div class="carte">
			<div class="background">
				<img class="image-carte"  src="{{ asset('images/IMAGE6.jpg') }}">
					<div class="bienvenue-carte">Bienvenue à Chachalotte !</div>
					<div class="barre-carte"></div>
					<img class="sexe-f"src="{{ asset('images/venus-solid.svg') }}">
					<div class="info-carte">
						<div class="nom-carte">Race</div>
						<div class="nom-carte">Age</div>
					</div>
					<div class="presentation-carte">Présentation</div>
					<div class="barre-carte-bas"></div>
					<button class="bouton-dons" href="">EN SAVOIR PLUS</button>
			</div>
			</div>
		</div>

		<div class="animaux-liste">
			<div class="carte">
			<div class="background">
				<img class="image-carte"  src="{{ asset('images/IMAGE7.jpg') }}">
					<div class="bienvenue-carte">Bienvenue à Keyvin !</div>
					<div class="barre-carte"></div>
					<img class="sexe-m"src="{{ asset('images/mars-solid.svg') }}">
					<div class="info-carte">
						<div class="nom-carte">Race</div>
						<div class="nom-carte">Age</div>
					</div>
					<div class="presentation-carte">Présentation</div>
					<div class="barre-carte-bas"></div>
					<button class="bouton-dons" href="">EN SAVOIR PLUS</button>
			</div>
			</div>
		</div>

		<div class="animaux-liste">
			<div class="carte">
			<div class="background">
				<img class="image-carte" src="{{ asset('images/IMAGE5.jpg') }}">
					<div class="bienvenue-carte">Bienvenue à Davidou !</div>
					<div class="barre-carte"></div>
					<img class="sexe-m" src="{{ asset('images/mars-solid.svg') }}">
					<div class="info-carte">
						<div class="nom-carte">Race</div>
						<div class="nom-carte">Age</div>
					</div>
					<div class="presentation-carte">Présentation</div>
					<div class="barre-carte-bas"></div>
					<button class="bouton-dons" href="">EN SAVOIR PLUS</button>
			</div>
			</div>
		</div>	
				<div class="animaux-liste">
			<div class="carte">
			<div class="background">
				<img class="image-carte" src="{{ asset('images/IMAGE5.jpg') }}">
					<div class="bienvenue-carte">Bienvenue à Davidou !</div>
					<div class="barre-carte"></div>
					<img class="sexe-m" src="{{ asset('images/mars-solid.svg') }}">
					<div class="info-carte">
						<div class="nom-carte">Race</div>
						<div class="nom-carte">Age</div>
					</div>
					<div class="presentation-carte">Présentation</div>
					<div class="barre-carte-bas"></div>
					<button class="bouton-dons" href="">EN SAVOIR PLUS</button>
			</div>
			</div>
		</div>	
		<div class="animaux-liste">
			<div class="carte">
			<div class="background">
				<img class="image-carte" src="{{ asset('images/IMAGE5.jpg') }}">
					<div class="bienvenue-carte">Bienvenue à Davidou !</div>
					<div class="barre-carte"></div>
					<img class="sexe-m" src="{{ asset('images/mars-solid.svg') }}">
					<div class="info-carte">
						<div class="nom-carte">Race</div>
						<div class="nom-carte">Age</div>
					</div>
					<div class="presentation-carte">Présentation</div>
					<div class="barre-carte-bas"></div>
					<button class="bouton-dons" href="">EN SAVOIR PLUS</button>
			</div>
			</div>
		</div>	
	</div>

	<div class="footer">

        <div class="bloc-footer">
            <div class="titre-footer">À propos de nous</div>
            <div class="barre-footer"></div>
            <div class="texte-footer-lorem">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
        </div>

        <div class="bloc-footer">
            <div class="titre-footer">Contactez-nous</div>
            <div class="barre-footer"></div>
            <div class="texte-footer">25 rue Claude Tillier - 75012 Paris</div>
            <a class="email-footer" href="mailto:foyeranimal@gmail.com">foyeranimal@gmail.com</a>
            <div class="reseaux-footer">
                <a class="liens-footer" href="https://www.youtube.com/%22%3E"><img class="image-reseaux" src="{{ asset('images/youtube-brands.svg') }}"></a>
                <a class="liens-footer" href="https://www.twitter.com/%22%3E"><img class="image-reseaux" src="{{ asset('images/twitter-brands.svg') }}"></a>
            </div>
        </div>

        <div class="bloc-footer">
            <div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.5074746576615!2d2.386177615674032!3d48.848532679286556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6720ccddcca19%3A0x46c178e321c33af5!2sIP%20Formation!5e0!3m2!1sfr!2sfr!4v1640271319945!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
        </div>
    </div>


{% endblock %}
