{% extends 'base.html.twig' %}

{% block body %}


<div class="example-wrapper">
    <h1>Page de {{ animal.nom}}</h1>


    <div>
        <li>Race : {{ animal.race}}</li>
        <li>Taille : {{ animal.taille}} m</li>
        <li>Description : {{ animal.description}}</li>
        <li>{{ animal.age}}</li>
        <li>Date : {{ animal.age}}</li>
        <li>Genre : {{ animal.age}}</li>
        <li><a href="{{ path('app_animal_select', {'id': animal.id}) }}/contact">Cet animal vous intéresse ? Contactez-nous !</a></li>
    <div>
    <br/> 
    <br/>
    <br/>

</div>
{% endblock %}
