{% extends 'base.html.twig' %}

{% block body %}


<div class="example-wrapper">

    <div class="icones-adoption">
        <div class="icones-animal-gauche">
            <img src="{{ asset('images/gift-solid.svg') }}">
            <img src="{{ asset('images/gift-solid.svg') }}">
            <img src="{{ asset('images/gift-solid.svg') }}">
        </div>
        <div class="titre-barre-adoption">
        <div class="titre-adopter">ACHETER UN PRODUIT</div>
        </div>
        <div class="icones-animal-droite">
            <img src="{{ asset('images/gift-solid.svg') }}">
            <img src="{{ asset('images/gift-solid.svg') }}">
            <img src="{{ asset('images/gift-solid.svg') }}">
        </div>
    </div>

    {% for prod in produit %}

        {% if loop.first %}
        <div class="display-animaux">
        {% endif %}
        
            <div class="animaux-liste">
            <div class="carte">
            <div class="background">
            <img class="image-carte"  src="{{ asset('uploads/' ~ prod.img ~ '') }}">
                <div class="carte-bg">
                <div class="bienvenue-carte">Produit {{ prod.titre}} !</div>
                <div class="barre-carte"></div>

                <div class="info-animal">
                    <div class="info-1">
                        <div class="caract-animal">Prix : {{ prod.prix}}</div>
                        <div class="caract-animal">Stock : {{ prod.stock}} </div>
                    </div>
                    <div class="info-1">
                        <div class="caract-animal">Catégorie : {{ prod.categorie}} m</div>
                    </div>
                    <div class="info-1">
                        <div class="caract-animal">Description : {{ prod.description}}</div>
                    </div>
                </div>

                <div class="barre-carte-bas"></div>
                <a class="bouton-width" href="{{ path('app_animal_select', {'id': prod.id}) }}"><button class="bouton-adopter" href="">EN SAVOIR PLUS</button></a>
                </div>
            </div>
            </div>
            </div>
    {% if loop.index % 3 == 0 %}
		{# Après 3 boucles on reforme une div et on sépare les blocs #}
		</div>
		<div class="barre-separation"></div>
        <div class="display-animaux">
		{% endif %}     
        {% if loop.last %}
		</div> {# close last row #}
		{% endif %}
    {% endfor %}

        	<!-- FOOTER -->
	<div class="footer">

		<div class="bloc-footer">
			<div class="titre-footer">À propos de nous</div>
			<div class="barre-footer"></div>
			<div class="texte-footer-lorem">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</div>
		</div>

		<div class="bloc-footer">
			<div class="titre-footer">Contactez-nous</div>
			<div class="barre-footer"></div>
			<div class="texte-footer">25 rue Claude Tillier - 75012 Paris</div>
			<a class="email-footer" href="mailto:foyeranimal@gmail.com">foyeranimal@gmail.com</a>
			<div class="reseaux-footer">
				<a class="liens-footer" href="https://www.youtube.com/"><img class="image-reseaux" src="{{ asset('images/youtube-brands.svg') }}"></a>
				<a class="liens-footer" href="https://www.twitter.com/"><img class="image-reseaux" src="{{ asset('images/twitter-brands.svg') }}"></a>
			</div>
		</div>

		<div class="bloc-footer">
			<div class="maps"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2625.5074746576615!2d2.386177615674032!3d48.848532679286556!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e6720ccddcca19%3A0x46c178e321c33af5!2sIP%20Formation!5e0!3m2!1sfr!2sfr!4v1640271319945!5m2!1sfr!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe></div>
		</div>
	</div>
	<!-- FIN FOOTER -->

</div>
{% endblock %}
