{% extends 'base.html.twig' %}

{% block body %}


<div class="example-wrapper">
    <h1>Page de {{ produit.Titre}}</h1>


    <div>
        <li>Prix : {{ produit.Prix}}</li>
        <li>Stock : {{ produit.Stock}}</li>
        <li>Description : {{ produit.Description}}</li>
        <img src="{{ asset('uploads/' ~ produit.Img ~ '')}}" width="50" height="50">
    <div>
    <br/> 
    <br/>
    <br/>

</div>
{% endblock %}
