<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('css/login_style.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('css/header_style.css') }}" type="text/css" rel="stylesheet">      
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
        <header>
            <nav>
                <div class="brand">
                    <h2>Titre Animalerie</h2>
                </div>
                {# Si l'utilisateur est connecté, alors on n'affiche pas la connexion ou l'inscription. #}
                <ul>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_adopter') }}">Adopter un animal</a></li>
                    <li><a href="{{ path('app_produit') }}">Listes des produits</a></li>
                    <li><a href="{{ path('panier') }}">Panier</a></li>
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else  %}
                    <li><a href="{{ path('login') }}">Inscription / Connexion</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin') }}">Administration</a></li>
                    <li><a href="{{ path('dossier') }}">Dossier</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        {% endblock %}

        {% block body %}{% endblock %}


    </body>
</html>
