<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <link href="{{ asset('css/style.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('css/login_style.css') }}" type="text/css" rel="stylesheet">
        <link href="{{ asset('css/header_style.css') }}" type="text/css" rel="stylesheet">      
            {# <link href="{{ asset('css/footer.css') }}" type="text/css" rel="stylesheet">         #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mountains+of+Christmas&display=swap" rel="stylesheet">

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        {% block header %}
          <header>
            <nav>
                <div class="brand">
                    <h2>Titre Animalerie</h2>
                </div>
                {# Si l'utilisateur est connecté, alors on n'affiche pas la connexion ou l'inscription. #}
                <ul>
                {% if is_granted('ROLE_USER') %}
                    <li><a href="{{ path('home') }}">Accueil</a></li>
                    <li><a href="{{ path('app_adopter') }}">Adopter un animal</a></li>
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                    {% else  %}
                    <li><a href="{{ path('login') }}">Inscription / Connexion</a></li>
                    {% endif %}
                    {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('admin') }}">Administration</a></li>
                {% endif %}
                </ul>
            </nav>
        </header>
        {% endblock %}

        {% block body %}{% endblock %}

        {# {% block footer %}
        <div class="main">
            <footer>
                <div class="container">
                    <div class="sec aboutus">
                        <h2>A propos de nous</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Asperiores quo, harum quas saepe accusantium qui laudantium eum rerum cupiditate iusto, 
                        a reprehenderit totam corporis maiores facere cum dolores cumque error.</p>
                    
                        <ul class="sci">
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="sec quickLinks">
                        <h2>Liens Utiles</h2>
                        <ul>
                            <li><a href="#">A Propos</a></li>
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Aide</a></li>
                            <li><a href="#">Conditions générales</a></li>
                            <li><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="sec contact">
                        <h2>Contactez nous</h2>
                        <ul class="info">
                            <li>
                                <span><i class="fa fa-map-marker" aria-hidden="true"></i></span>
                                <span>25 Rue Claude Tillier<br>
                                75012, Paris</span>
                            </li>
                            <li>
                                <span><i class="fa fa-phone" aria-hidden="true"></i></span>
                                <p><a href="tel:123456789">+331.23.45.67.89</a></p>
                            </li>
                            <li>
                                <span><i class="fa fa-envelope" aria-hidden="true"></i></span>
                                <p><a href="mailto:foyerAnimal@gmail.com">foyerAnimal@gmail.com</a></p>
                            </li>
                        </ul>
                    </div>
                </div>
            </footer>
        </div>
        {% endblock %} #}
    </body>
</html>
